In [4]:
import pandas as pd
import numpy as np

df=pd.read_csv('datasets/census.csv')
df.head(2)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333

In [6]:
pd.pivot_table(df,
              index='STNAME',
              values='BIRTHS2010',
              aggfunc= 'sum') #aggragate function = Suma

                      BIRTHS2010
STNAME
Alabama                    28452
Alaska                      5784
Arizona                    41874
Arkansas                   18878
California                246648
Colorado                   33582
Connecticut                18978
Delaware                    5694
District of Columbia        4486
Florida                   101744
Georgia                    64978
Hawaii                      9292
Idaho                      11942
Illinois                   83672
Indiana                    41922
Iowa                       19934
Kansas                     19984
Kentucky                   27382
Louisiana                  29146
Maine                       6886
Maryland                   36922
Massachusetts              37294
Michigan                   58204
Minnesota                  35000
Mississippi                18842
Missouri                   38024
Montana                     6136
Nebraska                   13030
Nevada                     17784
New Hampshire               6538
New Jersey                 53058
New Mexico                 13298
New York                  122828
North Carolina             59828
North Dakota                4682
Ohio                       69618
Oklahoma                   26288
Oregon                     23754
Pennsylvania               72202
Rhode Island                5750
South Carolina             28360
South Dakota                6064
Tennessee                  39326
Texas                     185534
Utah                       27504
Vermont                     3308
Virginia                   51436
Washington                 44488
West Virginia              10208
Wisconsin                  35116
Wyoming                     3990

In [12]:
pd.pivot_table(df,
              index='STNAME',
              values='BIRTHS2010',
              columns= 'COUNTY',
               margins= True)

COUNTY,0,1,3,5,6,7,9,11,12,13,...,760,770,775,790,800,810,820,830,840,All
STNAME,,,,,,,,,,,,,,,,,,,,,
Alabama,14226.000000,151.000000,517.000000,70.000000,NaN,44.000000,183.000000,39.000000,NaN,65.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,418.411765
Alaska,2892.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,192.800000
Arizona,20937.000000,276.000000,397.000000,428.000000,NaN,167.000000,125.000000,18.000000,42.0,13123.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2617.125000
Arkansas,9439.000000,73.000000,60.000000,83.000000,NaN,824.000000,89.000000,34.000000,NaN,15.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,248.394737
California,123324.000000,4877.000000,2.000000,78.000000,NaN,623.000000,74.000000,70.000000,NaN,3011.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4180.474576
Colorado,16791.000000,1806.000000,74.000000,2040.000000,NaN,21.000000,13.000000,12.000000,NaN,767.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,516.646154
Connecticut,9489.000000,2719.000000,2454.000000,418.000000,NaN,356.000000,2259.000000,656.000000,NaN,337.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2108.666667
Delaware,2847.000000,569.000000,1706.000000,572.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1423.500000
District of Columbia,2243.000000,2243.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2243.000000
Florida,50872.000000,695.000000,81.000000,518.000000,NaN,83.000000,1165.000000,5073.000000,NaN,39.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1496.235294
Georgia,32489.000000,62.000000,26.000000,38.000000,NaN,4.000000,119.000000,50.000000,NaN,264.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,406.112500
Hawaii,4646.000000,591.000000,3381.000000,0.000000,NaN,195.000000,479.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1548.666667
Idaho,5971.000000,1307.000000,7.000000,355.000000,NaN,31.000000,31.000000,223.000000,NaN,60.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,265.377778
Illinois,41836.000000,200.000000,30.000000,43.000000,NaN,145.000000,10.000000,94.000000,NaN,12.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,812.349515
Indiana,20961.000000,183.000000,1345.000000,247.000000,NaN,20.000000,33.000000,162.000000,NaN,19.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,450.774194
Iowa,9967.000000,10.000000,16.000000,50.000000,NaN,30.000000,15.000000,74.000000,NaN,427.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,199.340000
Kansas,9992.000000,31.000000,25.000000,53.000000,NaN,13.000000,82.000000,43.000000,NaN,30.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,188.528302
Kentucky,13691.000000,39.000000,67.000000,44.000000,NaN,19.000000,110.000000,34.000000,NaN,85.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,226.297521
Louisiana,14573.000000,211.000000,79.000000,370.000000,NaN,62.000000,126.000000,137.000000,NaN,31.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,448.400000
Maine,3443.000000,369.000000,158.000000,740.000000,NaN,75.000000,132.000000,310.000000,NaN,97.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,405.058824
Maryland,18461.000000,193.000000,1812.000000,2410.000000,NaN,NaN,233.000000,101.000000,NaN,410.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1476.880000
Massachusetts,18647.000000,444.000000,265.000000,1479.000000,NaN,42.000000,2178.000000,152.000000,NaN,1328.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2486.266667
Michigan,29102.000000,20.000000,14.000000,339.000000,NaN,65.000000,41.000000,19.000000,NaN,22.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,692.904762
Minnesota,17500.000000,30.000000,1084.000000,102.000000,NaN,182.000000,151.000000,15.000000,NaN,208.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,397.727273
Mississippi,9421.000000,81.000000,109.000000,31.000000,NaN,56.000000,20.000000,125.000000,NaN,48.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,227.012048
Missouri,19012.000000,68.000000,31.000000,11.000000,NaN,90.000000,96.000000,24.000000,NaN,48.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,327.793103
Montana,3068.000000,19.000000,71.000000,22.000000,NaN,13.000000,23.000000,3.000000,NaN,311.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107.649123
Nebraska,6515.000000,104.000000,30.000000,2.000000,NaN,2.000000,0.000000,18.000000,NaN,25.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,138.617021
Nevada,8892.000000,71.000000,6581.000000,97.000000,NaN,186.000000,5.000000,4.000000,NaN,60.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,988.000000
New Hampshire,3269.000000,154.000000,94.000000,186.000000,NaN,82.000000,181.000000,1129.000000,NaN,356.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,594.363636
New Jersey,26529.000000,799.000000,2378.000000,1187.000000,NaN,1647.000000,236.000000,564.000000,NaN,2579.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2411.727273
New Mexico,6649.000000,2134.000000,1.000000,231.000000,104.0,30.000000,216.000000,7.000000,NaN,749.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,391.117647
New York,61414.000000,785.000000,120.000000,5430.000000,NaN,498.000000,262.000000,216.000000,NaN,311.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1949.650794
North Carolina,29914.000000,479.000000,80.000000,25.000000,NaN,59.000000,63.000000,37.000000,NaN,143.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,592.356436
North Dakota,2341.000000,8.000000,33.000000,37.000000,NaN,1.000000,16.000000,11.000000,NaN,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.703704
Ohio,34809.000000,94.000000,337.000000,165.000000,NaN,284.000000,138.000000,128.000000,NaN,199.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,782.224719
Oklahoma,13144.000000,64.000000,13.000000,48.000000,NaN,7.000000,94.000000,40.000000,NaN,128.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,337.025641
Oregon,11877.000000,44.000000,196.000000,1017.000000,NaN,118.000000,126.000000,169.000000,NaN,56.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,642.000000
Pennsylvania,36101.000000,270.000000,3275.000000,182.000000,NaN,452.000000,114.000000,1215.000000,NaN,360.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1061.794118
Rhode Island,2875.000000,106.000000,407.000000,180.000000,NaN,1944.000000,238.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,958.333333
South Carolina,14180.000000,64.000000,464.000000,20.000000,NaN,532.000000,40.000000,68.000000,NaN,514.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,603.404255
South Dakota,3032.000000,NaN,3.000000,69.000000,NaN,21.000000,17.000000,94.000000,NaN,125.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.507463
Tennessee,19663.000000,216.000000,159.000000,34.000000,NaN,30.000000,298.000000,296.000000,NaN,104.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,409.645833
Texas,92767.000000,149.000000,58.000000,281.000000,NaN,69.000000,21.000000,5.000000,NaN,150.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,727.584314
Utah,13752.000000,42.000000,227.000000,640.000000,NaN,78.000000,10.000000,1569.000000,NaN,118.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,916.800000
Vermont,1654.000000,89.000000,101.000000,63.000000,NaN,415.000000,18.000000,146.000000,NaN,13.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,220.533333
Virginia,25718.000000,87.000000,295.000000,30.000000,NaN,39.000000,86.000000,48.000000,NaN,815.000000,...,705.0,333.0,57.0,77.0,274.0,1468.0,66.0,30.0,94.0,383.850746
Washington,22244.000000,145.000000,62.000000,656.000000,NaN,269.000000,167.000000,1342.000000,NaN,6.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1112.200000
West Virginia,5104.000000,38.000000,322.000000,71.000000,NaN,35.000000,56.000000,301.000000,NaN,23.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,182.285714
Wisconsin,17558.000000,35.000000,38.000000,132.000000,NaN,29.000000,883.000000,33.000000,NaN,33.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,481.041096
Wyoming,1995.000000,104.000000,24.000000,208.000000,NaN,46.000000,57.000000,35.000000,NaN,163.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,166.250000
All,19369.333333,476.489796,594.061224,439.428571,104.0,213.468085,231.854167,324.847826,42.0,591.276596,...,705.0,333.0,57.0,77.0,274.0,1468.0,66.0,30.0,94.0,618.751018

In [15]:
df=pd.read_csv('datasets/airline_data.csv',
              low_memory=False)
df.head(3)

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,1295781,1998,2,4,2,4,1998-04-02,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1125375,2013,2,5,13,1,2013-05-13,EV,20366,EV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,118824,1993,3,9,25,6,1993-09-25,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
my_pivot=pd.pivot_table(df,
              index=['Year','Quarter'],
              values='DepDelay',
              columns='DepartureDelayGroups',
              aggfunc= 'sum',
              margins= True)

In [23]:
my_pivot.to_csv('mypivot.csv')